@import "bootstrap-sprockets";
@import "bootstrap";




#logo {
  float: left;
  margin-right: 300px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.cover-img {
	height: 250px;
	display: table;
	width: 100%;
	background-size: cover;
}



.eena{
	
	display: table;
	
	margin-left:10px;
	
}

.back{
	width:100%;
}
.taiguu{
	margin:auto;
}




/* ワイドスクリーン用のCSS */
@media only screen and (min-width: 1500px) {
	.cover-img {
		height: 600px;
	}
	.cover-text{
		font-size:40px;
	}
	.eena{
		width:300px;
		height:200px;
	}
	.taiguu td{
	width:400px;
	font-size:16pt;
	text-align:center;
	}

}



@media only screen and (min-width : 1200px)and (max-width: 1500px) {
	.cover-img {
		height: 400px;
	}
	.cover-text{
		font-size:35px;
	}
	.eena{
	height:250px;
	}
	.taiguu td{
	width:350px;
	font-size:16pt;
	}
}



/* タブレット用のCSS */
@media only screen and (min-width : 768px) and (max-width : 1200px) {
	.cover-img {
		height: 200px;
	}
	.cover-text{
		font-size:30px;
	}
	.eena{
	
	height:200px;
	}
.taiguu td{
	width:300px;
	text-align:center;
	font-size:14pt;
	}
}


@media only screen and (min-width : 479px)and (max-width: 768px) {
	.cover-img {
		height: 200px;
	}
	.cover-text{
		font-size:25px;
	}
	.eena{
	
	height:120px;
	padding:0px;
	}
	.taiguu td{
	line-height:20px;
	font-size:12pt;

	}
}



/* スマホ用のCSS */
@media only screen and (max-width: 479px) {
	.cover-img {
		height: 200px;
	}
	.cover-text{
		font-size:20px;
	}
	.eena{
	
	height:80px;
	}
	.taiguu td{
	line-height:20px;

	}




	}

.cover-text {
	display: table-cell;
	vertical-align: middle;
  text-align: center;
  margin-top:300px;
}